---
BasedOnStyle: Google
IndentWidth: 4
ColumnLimit: 100
AllowShortFunctionsOnASingleLine: Empty
AllowShortIfStatementsOnASingleLine: Never
AllowShortLoopsOnASingleLine: false
BreakBeforeBraces: Linux
IndentCaseLabels: false
PointerAlignment: Right
SpaceAfterCStyleCast: true
AlignConsecutiveAssignments: false
AlignConsecutiveDeclarations: false
